body {
  font-family: sans-serif;
  margin: 2em;
  background-color: #f49dff;
  color: #f2fff0;
}

h1 {
  color: #55b9b4;
}

a {
  color: #2980b9;
  text-decoration: slateblue;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 1.2em;
}
