
body {
  font-family: sans-serif;
  margin: 6em;
  background-color: #ffe3ff;
  color: #b06c00;
}

h1 {
  color: #02bb5b;
}

a {
  color: #871385;
  text-decoration: none;
}

a:hover {
  text-decoration: wavy;
}

ul {
  padding-left: 2em;
}
