
body {
  font-family: sans-serif;
  margin: 6em;
  background-color: #ffe3ff;
  color: #b06c00;
}

h1 {
    color: #55b9b4;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
  text-decoration: wavy;
}

ul {
  padding-left: 2em;
}
